.customerExperience-title>p {
    margin: 0.5rem 0;
    color: rgb(83, 83, 155);
}

.customerExperience-title>p>a {
    text-decoration: none;
    color: rgb(83, 83, 155);
    font-family: SegoeUI;
    font-size: 1rem;
}

.customerExperience-title>p>a:hover {
    color: rgb(145, 233, 115);
}

.bank-partner {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 1rem 0;
}

.bank-partner>img {
    width: 10rem;
    height: 5rem;
    margin: 1rem 0;
    padding: 1rem 2.75rem;
    border: 1px solid rgb(221, 221, 221);
}

.customerExperience-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 1rem;
}

.col-md-9,
.col-md-3,
.col-md-6 {
    padding: 0;
}

.col-md-6 {
    padding: 0;
}

.customerExperience {
    padding-right: 1rem;
}

.customerExperience>h3 {
    font-family: SegoeUISemiBold;
    font-size: 1.5rem;
    padding: 0.5rem 0;
    margin-bottom: 1rem;
    border-bottom: 1px solid rgb(218, 218, 218);
    color: rgb(9, 81, 132);
}

.customerExperience-card {
    display: flex;
    border: 1px solid #e8e8e8;
    box-shadow: 0 0 10px -6px #000;
    border-radius: .3rem;
    -webkit-border-radius: .3rem;
    -moz-border-radius: .3rem;
    -ms-border-radius: .3rem;
    -o-border-radius: .3rem;
    background: rgb(247, 247, 247);
    margin: 2rem 0;
}

.customerExperience-card__img {
    padding: 2.5rem;
    display: block;
    margin: auto;
}

.customerExperience-card__img>a {
    display: block;
    width: 6.5rem;
    height: 6.5rem;
    margin: 0rem auto;
    box-sizing: content-box;
    border: 8px solid transparent;
    box-shadow: 0 0 10px -2px #000;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    overflow: hidden;
    position: relative;
    z-index: 100;
}

.customerExperience-rating {
    display: flex;
    justify-content: center;
    margin: 0.75rem auto;
}

.customerExperience-rating>img {
    width: 1rem;
}

.customerExperience-card__img>a>img {
    width: 6.5rem;
    height: 6.5rem;
    object-fit: cover;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    transition: all 1s;
    -webkit-transition: all 1s;
    -moz-transition: all 1s;
    -ms-transition: all 1s;
    -o-transition: all 1s;
}

.customerExperience-card__img>a:hover img {
    transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
}

.customerExperience-card__desc {
    padding: 2rem 1rem 1rem 0rem;
}

.customerExperience-card__desc>a {
    background: url(../images/homepage/ic-title-feedback.png) left no-repeat;
    padding: 0.5rem 1rem 0.5rem 3rem;
    width: 6.5rem;
    font-family: SegoeUISemiBold;
    font-size: 1.25rem;
    text-decoration: none;
    color: rgb(33, 90, 130);
}

.customerExperience-card__desc>p {
    margin: 1rem 0;
    text-align: left;
    font-family: SegoeUI;
    font-size: 1rem;
    overflow: hidden;
    position: relative;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
}

.customerExperience-card__desc>p>a {
    color: rgb(9, 81, 132);
    text-decoration: none;
}

.customerExperience-card__desc>p>a:hover {
    color: rgb(145, 233, 115);
}

.customerExperience-card__desc-infoUser {
    display: flex;
    justify-content: space-between;
    border-top: 1px solid rgb(221, 221, 221);
    padding-top: 0.75rem;
}

.customerExperience-card__desc-infoUser>div {
    padding: 0 0.5rem;
}

.customerExperience-card__desc-infoUser__avt>a>img {
    width: 7rem;
    height: 4rem;
}

.customerExperience-card__desc-infoUser__avt {
    position: relative;
    overflow: hidden;
}

.customerExperience-card__desc-infoUser__avt::after {
    background: rgba(0, 0, 0, 0) linear-gradient(to right, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.3) 100%) repeat scroll 0 0;
    content: "";
    display: block;
    height: 100%;
    position: absolute;
    right: -75%;
    top: 0;
    transform: skewX(-25deg);
    width: 50%;
    z-index: 2;
}

.customerExperience-card__desc-infoUser__avt:hover::after {
    animation: 2s ease 0s normal none 1 running fixedAnim;
    animation: 2s ease 0s normal none 1 running fixedAnim;
    -webkit-animation: 2s ease 0s normal none 1 running fixedAnim;
    -moz-animation: 2s ease 0s normal none 1 running fixedAnim;
}

@-webkit-keyframes fixedAnim {
    0% {
        right: 125%;
    }
    125% {
        right: 0;
    }
}

@-moz-keyframes fixedAnim {
    0% {
        right: 125%;
    }
    125% {
        right: 0;
    }
}

@keyframes fixedAnim {
    0% {
        right: 125%
    }
    125% {
        right: 0;
    }
}

.passport {
    height: 7.75rem;
    position: relative;
    margin: 1rem 0 1rem 0.5rem;
}

.passport-img {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.passport-img>a>img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: all 1s;
    -webkit-transition: all 1s;
    -moz-transition: all 1s;
    -ms-transition: all 1s;
    -o-transition: all 1s;
}

.passport:hover .passport-img>a>img {
    transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
}

.passport-img::after {
    background: rgba(0, 0, 0, 0) linear-gradient(to right, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.3) 100%) repeat scroll 0 0;
    content: "";
    display: block;
    height: 100%;
    position: absolute;
    right: -75%;
    top: 0;
    transform: skewX(-25deg);
    width: 50%;
    z-index: 2;
}

.passport-img:hover::after {
    animation: 2s ease 0s normal none 1 running fixedAnim;
    animation: 2s ease 0s normal none 1 running fixedAnim;
    -webkit-animation: 2s ease 0s normal none 1 running fixedAnim;
    -moz-animation: 2s ease 0s normal none 1 running fixedAnim;
}

.passport-desc {
    position: absolute;
    bottom: 0;
    width: 100%;
    background: rgba(216, 86, 108, 0.8);
}

.passport-desc>a {
    font-family: SegoeUIBold;
    font-size: 1.15rem;
    color: white;
    text-transform: uppercase;
    padding: 0.25rem 1rem;
    text-decoration: none;
}

.mostview-title {
    height: 2.25rem;
    border-bottom: 1px solid rgb(218, 218, 218);
    display: flex;
    align-items: center;
}

.mostview-title>h5 {
    font-family: SegoeUISemiBold;
    font-size: 1.15rem;
    border-left: 10px solid rgb(145, 233, 115);
    color: rgb(9, 81, 132);
    text-transform: uppercase;
    padding-left: 0.75rem;
}

.mostview-desc {
    padding: 1rem 0.25rem;
    display: flex;
    flex-direction: column;
    align-content: space-between;
}

.mostview-desc>a {
    font-family: SegoeUISemiBold;
    font-size: 1.25rem;
    color: rgb(57, 51, 51);
    text-decoration: none;
    transition: all .5s;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    -ms-transition: all .5s;
    -o-transition: all .5s;
    line-height: 1.25rem;
}

.mostview-desc>a:hover {
    color: rgb(145, 233, 115);
}

.time-view {
    margin: 0.5rem 0;
    height: 1.5rem;
    display: flex;
}

.time-view>img {
    margin: auto 0;
}

.time-view>span {
    line-height: 1.5rem;
    margin-left: 0.25rem;
    margin-right: 0.75rem;
    color: black;
}

.mostview {
    margin-top: 2rem;
    height: 46.5rem;
    width: auto;
    border: 1px solid #e0e0e0;
    box-shadow: 0 0 10px -6px #000;
}

.mostview-desc>p {
    font-family: SegoeUI;
    font-size: 1rem;
    color: rgb(150, 100, 100);
}

.mostview-photo {
    position: relative;
    overflow: hidden;
    width: 8rem;
    height: 6rem;
    border: 1px solid rgb(200, 200, 200);
}

.mostview-photo>a {
    display: block;
    width: 6.95rem;
    height: 5.6rem;
    overflow: hidden;
    margin: 2px;
    align-self: center;
    position: relative;
}

.mostview-photo>a>img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: all 1.5s;
    -webkit-transition: all 1.5s;
    -moz-transition: all 1.5s;
    -ms-transition: all 1.5s;
    -o-transition: all 1.5s;
}

.mostview-photo:hover img {
    transform: scale(1.2);
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -ms-transform: scale(1.2);
    -o-transform: scale(1.2);
}

.mostview-desc>.time-view>span {
    font-size: .875rem;
}

.mostview-card {
    display: flex;
    margin: 0 0.75rem;
    padding: 1rem 0;
    border-bottom: 2px dotted rgb(151, 151, 151);
}

.mostview-desc {
    width: calc(100% - 4.875rem);
    padding: 0 0 0 0.5rem;
}

.mostview-desc>a {
    font-family: SegoeUI;
    font-size: 0.875rem;
    line-height: 1rem;
}

.mostview .time-view {
    margin: 0;
}

.mostview .time-view>span {
    font-size: 0.75rem;
}

.mostview-content {
    height: 44rem;
    width: auto;
    overflow-y: scroll;
}

.mostview-content::-webkit-scrollbar {
    width: 4px;
    background: rgb(221, 221, 221);
}

.mostview-content::-webkit-scrollbar-thumb {
    background-color: rgb(9, 81, 132);
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.passport {
    height: 7.75rem;
    position: relative;
    margin: 1rem 0 1rem 0.5rem;
}

.passport-img {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.passport-img>a>img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: all 1s;
    -webkit-transition: all 1s;
    -moz-transition: all 1s;
    -ms-transition: all 1s;
    -o-transition: all 1s;
}

.passport:hover .passport-img>a>img {
    transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
}

.passport-img::after {
    background: rgba(0, 0, 0, 0) linear-gradient(to right, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.3) 100%) repeat scroll 0 0;
    content: "";
    display: block;
    height: 100%;
    position: absolute;
    right: -75%;
    top: 0;
    transform: skewX(-25deg);
    width: 50%;
    z-index: 2;
}

.passport-img:hover::after {
    animation: 2s ease 0s normal none 1 running fixedAnim;
    animation: 2s ease 0s normal none 1 running fixedAnim;
    -webkit-animation: 2s ease 0s normal none 1 running fixedAnim;
    -moz-animation: 2s ease 0s normal none 1 running fixedAnim;
}

.passport-desc {
    position: absolute;
    bottom: 0;
    width: 100%;
    background: rgba(216, 86, 108, 0.8);
}

.passport-desc>a {
    font-family: SegoeUIBold;
    font-size: 1.15rem;
    color: white;
    text-transform: uppercase;
    padding: 0.25rem 1rem;
    text-decoration: none;
}

@media (min-width: 768px) {
    .mostview-photo {
        width: 4.375rem;
        height: 4.375rem;
    }
    .mostview-photo>a {
        display: block;
        width: 4rem;
        height: 4rem;
    }
    .customerExperience {
        max-width: 60%;
    }
    .customerExperience-content>.col-md-3 {
        max-width: 38%;
    }
    .customerExperience-card__img {
        padding: 1rem;
    }
    .customerExperience-card__desc
}

.service-card {
    height: 9rem;
    position: relative;
    margin-top: 1rem;
}

.service-img {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.service-img>a>img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: all 1s;
    -webkit-transition: all 1s;
    -moz-transition: all 1s;
    -ms-transition: all 1s;
    -o-transition: all 1s;
}

.service-card:hover .service-img>a>img {
    transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
}

.service-img::after {
    background: rgba(0, 0, 0, 0) linear-gradient(to right, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.3) 100%) repeat scroll 0 0;
    content: "";
    display: block;
    height: 100%;
    position: absolute;
    right: -75%;
    top: 0;
    transform: skewX(-25deg);
    width: 50%;
    z-index: 2;
}

.service-img:hover::after {
    animation: 2s ease 0s normal none 1 running fixedAnim;
    animation: 2s ease 0s normal none 1 running fixedAnim;
    -webkit-animation: 2s ease 0s normal none 1 running fixedAnim;
    -moz-animation: 2s ease 0s normal none 1 running fixedAnim;
}

.service-desc {
    position: absolute;
    bottom: 0;
    width: 100%;
    background: rgba(216, 86, 108, 0.8);
}

.service-desc>a {
    font-family: SegoeUIBold;
    font-size: 1.15rem;
    color: white;
    text-transform: uppercase;
    padding: 0.25rem 0.5rem;
    text-decoration: none;
}

@-webkit-keyframes fixedAnim {
    0% {
        right: 125%;
    }
    125% {
        right: 0;
    }
}

@-moz-keyframes fixedAnim {
    0% {
        right: 125%;
    }
    125% {
        right: 0;
    }
}

@keyframes fixedAnim {
    0% {
        right: 125%
    }
    125% {
        right: 0;
    }
}

@media (min-width: 992px) {
    .service-card {
        max-width: 100%;
        height: 9rem;
    }
}

@media (min-width: 992px) {
    .mostview-photo {
        width: 4.375rem;
        height: 4.375rem;
    }
    .mostview-photo>a {
        display: block;
        width: 4rem;
        height: 4rem;
    }
    .customerExperience {
        max-width: 73%;
    }
    .customerExperience-content>.col-md-3 {
        max-width: 25%;
    }
    .service-card {
        margin: 1rem 0;
    }
    .service-desc>a {
        font-size: 1.05rem;
    }
}

@media (min-width: 1200px) {
    .service-desc>a {
        font-size: 1.15rem;
    }
}