/* .banner>img{
    height: 15rem;
}
@media (min-width: 768px) {
    .banner>img{
        height: 20rem;
    }
}

@media (min-width: 992px) {
    .banner>img{
        height: 25rem;
    }
} */

.travelNews>p {
    margin: 0.5rem 0;
    color: rgb(83, 83, 155);
}



.col-md-6{
    padding:0;
}

.newsList{
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 1rem;
}
.newsList>.col-md-9{
    width: 100%;
    margin: 0 1rem;
}
@media (min-width: 768px){
    .newsList>.col-md-9{
        max-width: 100%;
    }
}
@media (min-width: 992px){
    .newsList{
        display: flex;
    }
    .newsList>.col-md-9{
        max-width: 75%;
        margin: 0;
        padding-right: 1rem;
    }
}
.title{

    justify-content: space-between;
    padding: 0.5rem 0;
    border-bottom: 1px solid rgb(218, 218, 218);

}
.title>h3{
    font-family: SegoeUISemiBold;
    font-size: 1.5rem;
    color: rgb(9, 81, 132);
    margin-bottom: 1.5rem;
    text-transform: uppercase;
}
.title>a {
    text-decoration: none;
    color: rgb(83, 83, 155);
    font-family: SegoeUI;
    font-size: 1rem;
}

.title>a:hover {
    color: rgb(145, 233, 115);
}
.col-md-9, .col-md-3, .col-md-6{
    padding: 0;
}
.news-descript{
    padding: 1rem 0.25rem;
    display: flex;
    flex-direction: column;
    align-content: space-between;
}
.news-descript>a{
    font-family: SegoeUISemiBold;
    font-size: 1.25rem;
    color: rgb(57, 51, 51);
    text-decoration: none;
    transition: all .5s;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    -ms-transition: all .5s;
    -o-transition: all .5s;
    line-height: 1.25rem;

}
.news-descript>a:hover{
    color: rgb(145, 233, 115);
}

.time-view {
    margin: 0.5rem 0;
    height: 1.5rem;
    display: flex;
}

.time-view>img {
    margin: auto 0;
}

.time-view>span {
    line-height: 1.5rem;
    margin-left: 0.25rem;
    margin-right: 0.75rem;
    color: black;
}

.news-descript>p{
    font-family: SegoeUI;
    font-size: 1rem;
    color: rgb(150, 100, 100);
}

.news-photo{
    position: relative;
    overflow: hidden;
}
.news-photo>a>img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: all 1.5s;
    -webkit-transition: all 1.5s;
    -moz-transition: all 1.5s;
    -ms-transition: all 1.5s;
    -o-transition: all 1.5s;
}
.news-photo:hover img{
    transform: scale(1.2);
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -ms-transform: scale(1.2);
    -o-transform: scale(1.2);
}



.news-card>.news-descript>a
{
    font-size: 1rem;
    font-family: SegoeUI;
    line-height: 1.3rem !important;
    height: 2.6rem;
    overflow: hidden;
    position: relative;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;

}

.news-descript>.time-view>span{
    font-size: .875rem;
}



.news-content{
    justify-content: space-between;
    border-bottom: 1px solid rgb(218, 218, 218);
    margin-top: 1rem;
}
.news-content p img{
    min-width: 60%;
    max-width: 100%;
    display: flex;
    margin: auto;
}
.news-content>p{
    text-align: justify;
    padding: 0.5rem 0;
}
.news-content>p:last-child{
    text-align: right;
}
.news-card{
    margin-top: 1rem;
    width: 100%;
    display: flex;

}
.news-card>.news-photo{
    width: 15rem;
    height: 9rem;
}
.news-card>.news-descript{
    padding: 0.5rem;
    width: calc(100% - 15rem);
}

@media (min-width: 768px) {

    .news-card{
        margin-top: 1rem;
        width: 48%;
        flex-direction: column;

    }
    .news-card>.news-photo{
        width: 100%;
        height: 12rem;
    }
    .news-card>.news-descript{
        width: 100%;
    }
}
@media (min-width: 992px) {
    .news-card{
        margin-top: 1rem;
        width: 32%;

    }
    .news-card>.news-photo{
        width: 100%;
        height: 11rem;
    }

}

.relatedNews{
    margin-top: 1rem;

}
.relatedNews>h4{
    font-family: SegoeUISemiBold;
    font-size: 1.5rem;
    color: rgb(9, 81, 132);
    margin-bottom: 1rem;
}
.relatedNews a{
   text-decoration: none;
   color: black;
   transition: all 1s;
   -webkit-transition: all 1s;
   -moz-transition: all 1s;
   -ms-transition: all 1s;
   -o-transition: all 1s;
}
.relatedNews i{
    font-size: 0.75rem;
}
.relatedNews a:hover{
   color: rgb(145, 233, 115);
}
