
.col-md-9>div{
    margin-top: 1.5rem;
}

.travelNews>p {
    margin: 0.5rem 0;
    color: rgb(83, 83, 155);
}

.travelNews>p>a {
    text-decoration: none;
    color: rgb(83, 83, 155);
    font-family: SegoeUI;
    font-size: 1rem;
}

.travelNews>p>a:hover {
    color: rgb(145, 233, 115);
}

.travelNews>h3 {
    font-family: SegoeUISemiBold;
    font-size: 1.5rem;
    padding: 0.5rem 0;
    margin-bottom: 1rem;
    border-bottom: 1px solid rgb(218, 218, 218);
    color: rgb(9, 81, 132);
}


.col-md-6{
    padding:0;
}

.travelnews-slides{
    max-width: 100%;
}
.new{
    max-width: 100%;
    justify-content: space-between;
}
.news-static {
    width: 100%;
    margin-top: 1%;
    position: relative;
}


.news-img {
    width: 100%;
    height: 12rem;
    overflow: hidden;
}
.news-img>img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: all 2s;
    -webkit-transition: all 2s;
    -moz-transition: all 2s;
    -ms-transition: all 2s;
    -o-transition: all 2s;
}

.news-static:hover .news-img>img {
    transform: scale(1.2);
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -ms-transform: scale(1.2);
    -o-transform: scale(1.2);
}

.news-content {
    display: flex;
    flex-wrap: wrap;
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.3);
    top:0;
    left: 0;
    padding: 3rem;
    padding-bottom: 4rem;
    justify-content: space-around;
    align-items: center;
}
.news-content>p{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
}
.news-content>span{
    text-align: center;
    color: white;
    font-size: 1rem;
}
.news-content>a{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: SegoeUISemiBold;
    font-size: 1rem;
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    text-align: center;
    transition: all 1s;
    -webkit-transition: all 1s;
    -moz-transition: all 1s;
    -ms-transition: all 1s;
    -o-transition: all 1s;
}
.news-btn{
    margin-top: 1rem;
    height: 2rem;
    width: 5.5rem;
    border: 2px solid white;
}
.news-title{
    height: auto;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
}


.news-title:hover{
    color: rgb(145, 233, 115);
}
.news-btn:hover{
    background: rgb(83, 83, 155);
}

.travelnews-slides .travelnews-slide>.news-img{
    height: 24.3rem;

}
.travelnews-slides .travelnews-slide>.news-content{
    flex-direction: column;
}
.travelnews-slide>.news-content .news-title{
    font-size: 1.5rem;
}
.travelnews-slide .news-content>p>span{
    margin-top: 1.5rem;
    color: white;
    font-size: 1rem;
    text-align: center;
    cursor: grab;
}


.travelnews-slide:hover .news-img>img {
    transform: scale(1.2);
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -ms-transform: scale(1.2);
    -o-transform: scale(1.2);
}
.travelnews-slides__btn{
    bottom: 1rem;

}
.travelnews-slides__btn>button{
    margin: 0.2rem;
    height: 0.7rem;
    width: 0.7rem;
    background: white;
    border: 2px solid white;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    outline: none;
}
.travelnews-slides__btn>button:hover,.travelnews-slides__btn .active {
    background:rgb(100, 100, 100);
}
.travelnews-content{
    margin-top: 1rem;
}
@media (min-width: 992px) {
    .travelnews-content{
        display: flex;
        justify-content: space-between;
    }
    .travelnews-slides{
        max-width: 69.5%;
    }
    .new{
        max-width: 30%;
        align-content: space-between;
    }
    .news-title{
        font-size: 0.875rem;
    }
    .news-static{
        margin: 0;
    }

}

.otherNewsTravel{
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 1rem;
}
.otherNewsTravel>.col-md-9{
    width: 100%;
    margin: 0 1rem;
}
@media (min-width: 768px){
    .otherNewsTravel>.col-md-9{
        max-width: 100%;
    }
}
@media (min-width: 992px){
    .otherNewsTravel{
        display: flex;
    }
    .otherNewsTravel>.col-md-9{
        max-width: 75%;
        margin: 0;
        padding-right: 1rem;
    }
}
.title{
    display: flex;
    justify-content: space-between;
    padding: 0.5rem 0;
    border-bottom: 1px solid rgb(218, 218, 218);
    align-items: flex-end;
}
.title>h3{
    font-family: SegoeUISemiBold;
    font-size: 1.5rem;
    color: rgb(9, 81, 132);
    text-transform: capitalize;
}
.title>a {
    text-decoration: none;
    color: rgb(83, 83, 155);
    font-family: SegoeUI;
    font-size: 1rem;
}

.title>a:hover {
    color: rgb(145, 233, 115);
}
.col-md-9, .col-md-3, .col-md-6{
    padding: 0;
}
.news-descript{
    padding: 1rem 0.25rem;
    display: flex;
    flex-direction: column;
    align-content: space-between;
}
.news-descript>a{
    font-family: SegoeUISemiBold;
    font-size: 1.25rem;
    color: rgb(57, 51, 51);
    text-decoration: none;
    transition: all .5s;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    -ms-transition: all .5s;
    -o-transition: all .5s;
    line-height: 1.25rem;

}
.news-descript>a:hover{
    color: rgb(145, 233, 115);
}

.time-view {
    margin: 0.5rem 0;
    height: 1.5rem;
    display: flex;
}

.time-view>img {
    margin: auto 0;
}

.time-view>span {
    line-height: 1.5rem;
    margin-left: 0.25rem;
    margin-right: 0.75rem;
    color: black;
}
.travelGuide-main{
    padding-top: 1rem;
}
.travelGuide-main>.news-photo{
    width: 100%;
    height: 15rem;
}
.news-descript>p{
    font-family: SegoeUI;
    font-size: 1rem;
    color: rgb(150, 100, 100);
}

.news-photo{
    position: relative;
    overflow: hidden;
}
.news-photo>a>img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: all 1.5s;
    -webkit-transition: all 1.5s;
    -moz-transition: all 1.5s;
    -ms-transition: all 1.5s;
    -o-transition: all 1.5s;
}
.news-photo:hover img{
    transform: scale(1.2);
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -ms-transform: scale(1.2);
    -o-transform: scale(1.2);
}
.travelGuide-subs{
    padding-top: 0.25rem;
    padding-left: 0.5rem;
    display: flex;
    flex-direction: column;
}
.travelGuide-sub{
    display: flex;
    align-items: flex-start;
    padding: 0.75rem 0;
    border-bottom: 2px dotted rgb(221, 221, 221);
}
.travelGuide-sub:last-child{

    border-bottom: none;
}
.travelGuide-sub>.news-photo{
    width: 9rem;
    height: 5rem;
}

.travelGuide-sub>.news-descript{
    width: calc(100% - 8.125rem);
    padding: 0;
    padding-left: 1rem;
    display: flex;
    flex-direction: column;
    align-content: space-between;
}
.travelGuide-sub>.news-descript>a,
.travelExperience-card>.news-descript>a,
.travelInquiries-sub__card>.news-descript>a
{
    font-size: 1rem;
    font-family: SegoeUI;
    line-height: 1.3rem !important;
    height: 2.6rem;
    overflow: hidden;
    position: relative;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;

}

.news-descript>.time-view>span{
    font-size: .875rem;
}

@media (min-width: 1200px) {
    .travelGuide-sub>.news-descript{

    }
 }

.travelExperience-content{
    justify-content: space-between;
}
.travelExperience-card{
    margin-top: 1rem;
    width: 100%;
    display: flex;

}
.travelExperience-card>.news-photo{
    width: 15rem;
    height: 9rem;
}
.travelExperience-card>.news-descript{
    padding: 0.5rem;
    width: calc(100% - 15rem);
}

@media (min-width: 768px) {

    .travelExperience-card{
        margin-top: 1rem;
        width: 48%;
        flex-direction: column;

    }
    .travelExperience-card>.news-photo{
        width: 100%;
        height: 12rem;
    }
    .travelExperience-card>.news-descript{
        width: 100%;
    }
}
@media (min-width: 992px) {
    .travelExperience-card{
        margin-top: 1rem;
        width: 32%;

    }
    .travelExperience-card>.news-photo{
        width: 100%;
        height: 11rem;
    }

}
.travelInquiries-main{
    margin-top: 1rem;
    padding-bottom: 1rem;
    border-bottom: 2px dotted rgb(221, 221, 221);
}
.travelInquiries-main>.news-photo{
    width: 100%;
    height: 14.75rem;
}
.travelInquiries-main>.news-descript{
    width: 100%;
    padding-left: 1rem;
}
.travelInquiries-main>.news-descript>a{
   line-height: 1.5rem;
}
.travelInquiries-main>.news-descript>p{
    height: 6rem;
    overflow: hidden;
    position: relative;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
}
.travelInquiries-sub{
   justify-content: space-between;

}
.travelInquiries-sub__card{
    display: flex;
    padding: 1rem 0;
    max-width: 100%;
    border-bottom: 2px dotted rgb(221, 221, 221);
}
.travelInquiries-sub__card>.news-photo{
    width: 35%;
    height: 6rem;
}
.travelInquiries-sub__card>.news-descript{
    width: calc(100% - 8rem);
    padding:0;
    padding-left: 0.5rem;
}
.travelInquiries-sub__card>.news-descript>a{
    overflow: hidden;
    height: 2.5rem;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
}


.travelInquiries-sub__card>.news-descript>.time-view{
    margin-bottom: 0rem;
}

@media (min-width: 768px){
    .travelInquiries-sub{
        display: flex;
        flex-wrap: wrap;
     }
     .travelInquiries-sub__card{
        max-width: 50%;
    }
    .travelInquiries-main>.news-photo{

        height: 20rem;
    }
}
@media (min-width: 992px){
    .travelInquiries-main{
        display: flex;
    }
    .travelInquiries-main>.news-photo{
        width: 100%;
        height: 14.75rem;
    }

}


